<div id="notification" [class]="notification">
    <h1>{{ status }}</h1>
    <p>{{ info }}</p>
    Ght;lsaflkdf
    <!-- <button (click)="hide()">Ok</button> -->
    <button class="btn btn-danger mb-3" (click)="hide()">Подтвердить</button>
    <button class="btn btn-success mb-3" (click)="hide()">Отменить</button>
</div>

<!--https://github.com/Ra9jkDM/poweroff_web/blob/main/src/app/main/main.component.html

https://github.com/Ra9jkDM/poweroff_web/blob/main/src/app/notification/notification.component.ts
-->

