<div #table_result class="mt-3">
    <hr>
    <div #status_circle class="circle-status"></div>
    <div class="circle-info">
      <div><div class="circle-box" style="background-color: #198754;"></div>{{positive}}% Положительных</div>
      <div><div class="circle-box" style="background-color: #dc3545;"></div>{{negative}}% Отрицательных</div>
      <div><div class="circle-box" style="background-color: #0d6efd;"></div>{{unknown}}% Нейтральных</div>
    </div>
<hr>
    <a #file_url class="btn btn-primary btn-block">Скачать подробный отчет</a>
  </div>