<div class="enter container">
    <div class="box min-vh-75 d-flex flex-column justify-content-center">
      <p class="text-center fs-1">Регистрация</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Имя</span>
        </div>
        <input type="text" class="form-control" aria-label="Имя" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Фамилия</span>
        </div>
        <input type="text" class="form-control" aria-label="Фамилия" aria-describedby="inputGroup-sizing-default">
    </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Почта</span>
          </div>
          <input type="text" class="form-control" aria-label="Почта" aria-describedby="inputGroup-sizing-default">
      </div>
  
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Пароль</span>
          </div>
          <input type="password" class="form-control" aria-label="Пароль" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Подтверждение пароля</span>
        </div>
        <input type="password" class="form-control" aria-label="Подтверждение пароля" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Согласен с <a routerLink='service-rules'>условиями использования</a> сервиса
        </label>
      </div>
      <button class="btn btn-primary btn-lg btn-block mb-2" type="submit">Зарегистрироваться</button>
  
    </div>
  </div>
  
  <!--<a class="button" routerLink="/ml_check">ML</a>-->