<div class="container mt-3">
    <div class="box">
        <img id="about" class="rounded mx-auto d-block" src="assets/about.jpg"/>
    </div>
    <span>
    Добро пожаловать на страницу "О проекте"! 
    Мы рады представить вам наш проект <b>ML Sentiment</b> для анализа комментариев,
     который помогает лучше понимать отношения пользователей к продукту 
     по оставляемым комментариям.

     Наш проект создан для анализа комментариев, собранных из различных источников,
      таких как социальные сети, форумы, блоги и другие платформы. 
      Мы стремимся предоставить пользователям удобный и понятный способ обработки и 
      визуализации данных, чтобы вы могли оценивать настроение аудитории.
    </span>
      <br>
    <span class="mb-3">Версия проекта: 1.0</span>
 
</div>