<p>login works!</p>

<a class="button" routerLink="/ml_check">ML</a> 

<div class="container min-vh-100 w-50">
    <div class="min-vh-100 d-flex flex-column align-items-center  justify-content-center">
<p class="text-center fs-1">Вход</p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Почта</span>
    </div>
    <input type="text" class="form-control" aria-label="Почта" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Пароль</span>
    </div>
    <input type="password" class="form-control" aria-label="Пароль" aria-describedby="inputGroup-sizing-default">
</div>

<button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>

</div>
</div>