<div class="container">
    <div class="box">
        <img class="rounded mx-auto d-block" src="assets/main_img.jpeg"/>
    </div>
    <p>Мы рады представить вам наш проект ML Sentiment для анализа комментариев, который помогает лучше понимать отношения пользователей к продукту по оставляемым комментариям.</p>
    
    <div class="feat">
        <div>
            <div class="title">Удобный интерфейс</div>
            <div class="text">Мы стремимся предоставить пользователям простой и интуитивно понятный способ работы с данными. Вы сможете легко загружать комментарии и получать результаты анализа всего за несколько кликов.</div>
        </div>
        <div>
            <div class="title">Анализ настроений</div>
            <div class="text">С помощью нашего алгоритма мы анализируем текст комментариев и определяем их эмоциональную окраску.</div>
        </div>
        <div>
            <div class="title">Отчетность и визуализация</div>
            <div class="text">Вы получаете доступ к отчетам и визуализациям, которые помогают вам принимать обоснованные решения.</div>
        </div>
    </div>
    
    
    <p>Присоединяйтесь к нам!</p>
    <p>Мы уверены, что проект ML Sentiment станет незаменимым инструментом для вашего бизнеса. Начните анализировать комментарии сегодня и узнайте, что думает ваша аудитория о вашем продукте!</p>
    
    
    <button type="button" routerLink="/registration" class="btn btn-outline-primary mb-3">Зарегистрироваться</button>
    
</div>
    