<div class="container">
    <p class="text-center fs-1">Настройки</p>



      <div class="row">
        <div class='col-3'>
            <div *ngFor="let i of pages" class="radio-btn mb-2">
                <input id='{{i.id}}' (change)="checkValue()" [(ngModel)]="radio" type="radio" name="pages"  value='{{i.id}}'>
                <label for='{{i.id}}' class="btn btn-outline-primary d-block">{{i.name}}</label>
            </div>
        </div>
        <div class='col'>
            <div  #menu id='info'>
                <app-info></app-info>
            </div>
            <div #menu class='hide' id='login'>
                <app-change-login-info></app-change-login-info>
            </div>
            <div #menu class='hide' id='delete'>
                <app-delete-account></app-delete-account>
            </div>
        </div>
    </div>

</div>