<div class="container">
    <p class="text-center fs-1">Настройки</p>



      <div class="row">
        <div class='col-3'>
            <div *ngFor="let i of pages" class="radio-btn mb-2">
                <input id='{{i.route}}' (change)="checkValue()" [(ngModel)]="model" type="radio" name="pages"  value='{{i.route}}'>
                <label for='{{i.route}}' class="btn btn-outline-primary d-block">{{i.name}}</label>
            </div>
        </div>
        <div class='col'>
            <div  #first>
                <app-info></app-info>
                </div>
                <div #second class='hide'>
                <app-change-login-info ></app-change-login-info>
                </div>
            <!-- <app-change-login-info [ngModel]='visible' style='display: {{visible[1]}}'></app-change-login-info>
            <app-delete-account [ngModel]='visible' style='display: {{visible[2]}}'></app-delete-account>
    --> </div>
    </div>

</div>