.radio-btn input[type=radio] 
    display: none

.radio-btn input[type=radio]:checked + label
    color: white
    background: #0d6efd



.hide
    display: none



@media(max-width: 520px)
    .col
        flex: 1 0 100%
    .col-3
        width: 100%

