<div>
    {{user.name}}
    <!-- <td>{{item.username}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>
                <button type="button" (click)="editUser()" class="btn btn-outline-secondary">Edit</button>
            </td>
            
            <td *ngIf="item.is_active; then active else deactive"></td>
                <ng-template #active>
                    <td><button type="button" class="btn btn-outline-warning">Активен</button></td>
                </ng-template>
                <ng-template #deactive>
                    <td><button type="button" class="btn btn-warning">Отключен</button></td>
                </ng-template>
            
            <td>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </td> -->
</div>