<div>
<p class="text-center fs-3">Удаление аккаунта</p>

<p>Уважаемый пользователь, при удалении вашего 
аккаунта на ML Sentiment. Пожалуйста, учтите следующие моменты 
перед окончательным удалением:</p>
    <ul>
        <li>Окончательное удаление данных: После подтверждения удаления 
            ваш аккаунт и все связанные с ним данные будут безвозвратно 
            удалены. Это включает в себя вашу личную информацию, настройки 
            и историю действий.</li>
        <li>Восстановление аккаунта: После удаления восстановить 
            ваш аккаунт не получится. Если вы хотите продолжить 
            использование сервиса в будущем, вам потребуется создать 
            новый аккаунт.</li> 
    </ul>
<p class='mb-3'>Если вы уверены в своем решении, пожалуйста, подтвердите удаление.</p>


<button (click)="requestToSaveChanges()" type="button" class="btn w-100 btn-danger">Удалить</button>

</div>

<app-notification></app-notification>