<div>
    <p class="text-center fs-3">Изменение логина и пароля</p>

    <p class='fs-4'>Логин</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Почта</span>
        </div>
        <input type="text" class="form-control" aria-label="Почта" aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="button" class="btn btn-outline-primary mb-3">Сохранить логин</button>

    <p class='fs-4'>Пароль</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Пароль</span>
        </div>
        <input type="password" class="form-control" aria-label="Пароль" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Подтверждение пароля</span>
      </div>
      <input type="password" class="form-control" aria-label="Подтверждение пароля" aria-describedby="inputGroup-sizing-default">
  </div>
  <button type="button" class="btn btn-outline-primary mb-3">Сохранить пароль</button>
</div>
