<p>ml-check works!</p>

<a class="button" routerLink="/login">Login</a> 

<div class="container min-vh-100 w-75">
    <p class="text-center fs-1">Проверка тональности</p>
    <p class="fs-3">Текст для проверки</p>
    <div class="input-group mb-2">
      <textarea class="form-control" rows="6" id="text"></textarea>
    </div>
  
    <button id="checkButton" class="btn btn-primary btn-block" type="submit">Проверить тональность</button>
  
  <div class="hide" id="load">
  <div class="container d-flex">
    <div class="spinner-border text-primary m-2" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
    <p class="fs-3 d-inline align-baseline m-2">Проверка</p>
  </div>
  </div>
  
  <div class="container hide" id="result">
    <p class="fs-3 align-baseline m-2">Результат</p>
    <p class="fs-5 align-baseline m-2 ">Тональность текста: 
      <span class="text-success hide" id="success">Положительная</span>
      <span class="text-danger hide" id="danger">Отрицательная</span>
    </p>
   
  </div>
  
  <p class="fs-3 m-2 text-danger hide" id="error">Ошибка при получении ответа</p>
    
      
  </div>