<!--<p>ml-check works!</p>
<a class="button" routerLink="/login">Login</a>-->

<div class="main-box container min-vh-100">
    <p class="text-center fs-1">Проверка тональности</p>
    <p class="fs-3">Текст для проверки</p>
    <div class="input-group mb-2">
      <textarea class="form-control" rows="6" #text></textarea>
    </div>
  
    <button  #checkButton (click)="checkText()" class="btn btn-primary btn-block" type="submit">Проверить тональность</button>
  
  <div class="hide" #load>
  <div class="d-flex">
    <div class="spinner-border text-primary m-1" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
    <p class="fs-3 d-inline align-baseline m-1">Проверка</p>
  </div>
  </div>
  
  <div class="hide" #result>
    <p class="fs-3 align-baseline m-2">Результат</p>
    <p class="fs-5 align-baseline m-2 ">Тональность текста: 
      <span #sentiment></span>
    </p>
   
  </div>
  
  <p class="fs-3 m-2 text-danger hide" id="error">Ошибка при получении ответа</p>
    
      
  </div>