<div class="container">
    <p class="h3 text-center">Условия использования веб-сервиса</p>
    <ul>
        <li>1. Общие положения</li>
Данные условия использования (далее - "Условия") регулируют доступ и использование веб-сервиса (далее - "Сервис"), предоставляемого ML Sentiment. Используя Сервис, вы соглашаетесь с настоящими Условиями. Если вы не согласны с ними, пожалуйста, не используйте Сервис.
<li>2. Регистрация аккаунта</li>
Для доступа ко всем функциям Сервиса необходимо создать аккаунт. Вы обязуетесь предоставить точную и актуальную информацию при регистрации. Вы несете ответственность за сохранение конфиденциальности ваших учетных данных и за все действия, происходящие под вашим аккаунтом.
<li>3. Обработка данных</li>
Сервис предоставляет функции для обработки таблиц и текстовых данных. Вы соглашаетесь, что вся информация, загруженная вами в Сервис, является вашей собственностью, и вы несете полную ответственность за ее содержание и использование. Мы не несем ответственности за любые убытки или последствия, возникающие в результате загрузки и обработки ваших данных.
<li>4. Ответственность пользователя</li>
Вы подтверждаете, что несете ответственность за все данные, которые вы загружаете и обрабатываете с помощью Сервиса. Мы не несем ответственности за любые нарушения прав третьих лиц, включая, но не ограничиваясь, авторскими правами, правами на конфиденциальность или другими правами, возникающими в результате использования загруженных вами данных.
<li>5. Изменения в Условиях</li>
Мы оставляем за собой право в любое время изменять данные Условия. Изменения вступают в силу с момента их публикации на сайте. Рекомендуем периодически проверять Условия на предмет изменений.
    </ul>
    Используя наш Сервис, вы подтверждаете, что прочитали, поняли и согласны с данными Условиями.
</div>